<div class="container" *ngIf="task != null">
<table>
      <tr>
	    <td><h1>{{ task.taskName}}</h1></td>
		<td><h3>( </h3></td>
		<td><h3><a [routerLink]="['/taskmanager']">Go Back</a></h3></td>
		<td><h3> ) </h3></td>
	  </tr>
  </table> 

<dl class="list">
 <dt>Priority</dt>
 <dd>{{ task.priority }}</dd>
 <dt>Parent</dt>
 <dd>{{ task.parentTaskName }}</dd>
 <dt>Start Date</dt>
 <dd> <div *ngIf="task?.startDate != null"><time>{{ task.startDate | amDateFormat: 'YYYY-MM-DD' }}</time></div></dd>
 <dt>End Date</dt>
 <dd><div *ngIf="task?.endDate != null"><time>{{ task.endDate  | amDateFormat: 'YYYY-MM-DD' }}</time></div></dd>

</dl>
</div>